header {
   display: flex;
   justify-content: space-evenly;

   background-color: aqua;
}

.header_logo {
   display: block;
}

.navbar {
   display: flex;
}

.navbar__item {
   padding: 5px;
}

.navbar__link {
   text-decoration: none;
   color: #181818;
}